<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fire Emblem</title>
	<style>
		body{
			margin: 0;
			background: gray;
			padding: 0;
			background-color: #472524;
			/* background-color: #52fcfc; */
		}
		table{
			/* background: #abd1f7; */
			background-color: rgba(243, 220, 154, 1);
			width: 100%;

		}
		thead{
			position: fixed;
		    width: 100%;
		    text-align: center;
		    top: 0px;
		    background: #472524;
		    /* background-color: #52fcfc; */
		    height: 100px;
		    z-index: 99;
		}
		thead tr{
			cursor: pointer;
			/* padding: 5%;  */
		}
		thead tr{
			display: flex;
		    flex-direction: row;
		    justify-content: space-around;
		    /* padding: 3%; */
		}
		tbody tr{
			display: flex;
		    flex-direction: row;
		    justify-content: space-around;
		    padding: 3% 0;
		}
		@media screen and (max-width: 1024px) {
		    td{
				/* outline: 1px dotted tomato; */
				height: 50px;
				text-align: center;
			}
			.container{
				padding-top: 100px;
			}
		}
		@media screen and (min-width: 1024px) {
		    td{
				/* outline: 1px dotted tomato; */
				height: 100px;
				text-align: center;
			}
			.container{
				padding-top: 150px;
			}
		}
		tbody{
			width: 100%;
			
		}
		.high{
			color: red;
		}
		.low{
			color: gray;
		}
		.img-weapon{
			position: absolute;
		    top: -20%;
		    left: -75%;
		    width: 25px;
		}
		td,tr,table{
			position: relative;
			width: 100%;
			/* outline: 1px solid red; */

		}
		thead td{
			background-color: #452f55;
			/* background-color: rgb(226, 145, 73); */
		    margin: 2% 2% 0 2%;
		    box-shadow: 2px 2px 5px #52fcfc;
		    color: #52fcfc;
			border-radius: 5px;
			display: flex;
		    align-items: center;
		    justify-content: center;
		}
		
	</style>
</head>
<body>

	<div class="container">
		<table ng-app="table-hero" ng-controller="table-hero-ctrl">
			<thead>
				<tr>
					<td>Hero</td>
					<td>Name</td>
					<td>HP</td>
					<td>Atk</td>
					<td>Spd</td>
					<td>Def</td>
					<td>Res</td>
					<td>Rating</td>
				</tr>	

			</thead>
			<tbody>
				<tr ng-repeat="i in records">
					<td><img src="img/{{i.hero}}" alt=""></td>
					<td>
						<img class="img-weapon" src="img/{{i.weapon}}" alt="">
						{{i.name}}
					</td>
					<td>
						<div ng-switch="{{i.hp}}">
							<!-- <div ng-switch-when="34" class="low">{{i.hp}}</div>
							<div ng-switch-when="43" class="high">{{i.hp}}</div>
		  					<div ng-switch-default>{{i.hp}}</div> -->
					
							<!-- <div ng-if="i.hp >= 42" class="high">{{i.hp}}</div>						
		  					<div ng-if="i.hp > 35 && i.hp < 42">{{i.hp}}</div>
		  					<div ng-if="i.hp <= 35" class="low">{{i.hp}}</div>	 -->
		  					<div style="color: {{getColor(i.hp,'hp')}};">{{i.hp}}</div>	

						</div>
					</td>
					<td>
						<div ng-switch="{{i.atk}}">
							<!-- <div ng-if="i.atk >= 37" class="high">{{i.atk}}</div>						
		  					<div ng-if="i.atk > 30 && i.atk < 37">{{i.atk}}</div>
		  					<div ng-if="i.atk <= 30" class="low">{{i.atk}}</div> -->
		  					<div style="color: {{getColor(i.atk,'atk')}};">{{i.atk}}</div>	
						</div>
					</td>
					<td>
						<div ng-switch="{{i.spd}}">
							<div style="color: {{getColor(i.spd,'spd')}};">{{i.spd}}</div>	
						</div>
					</td>
					<td>
						<div ng-switch="{{i.def}}">
							<div style="color: {{getColor(i.def,'def')}};">{{i.def}}</div>	
						</div>
					</td>
					<td>
						<div ng-switch="{{i.res}}">
							<div style="color: {{getColor(i.res,'res')}};">{{i.res}}</div>	
						</div>
					</td>
					<td>
						<div ng-switch="{{rating(i)}}">
							<div style="color: {{getColor(rating(i),'rat')}};">{{rating(i)}}</div>
							<!-- <div ng-if="rating(i) >= 160" class="high">{{rating(i)}}</div>						
		  					<div ng-if="rating(i) > 155 && rating(i) < 160">{{rating(i)}}</div>
		  					<div ng-if="rating(i) <= 155" class="low">{{rating(i)}}</div> -->
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
<script>
	var hero = angular.module("table-hero",[]);
	hero.controller("table-hero-ctrl",function($scope){
		$scope.records = [
			{hero:"40px-Icon_Portrait_Eirika.png",name:"Eirika",hp:39,atk:30,spd:35,def:26,res:28,weapon:"32px-Icon_Class_Red_Sword.png"},
			{hero:"40px-Icon_Portrait_Marth_(Masked).png",name:"Math(M)",hp:43,atk:34,spd:36,def:25,res:19,weapon:"32px-Icon_Class_Red_Sword.png"},
			{hero:"40px-Icon_Portrait_Ike.png",name:"Ike",hp:43,atk:39,spd:31,def:32,res:14,weapon:"32px-Icon_Class_Red_Sword.png"},
			{hero:"40px-Icon_Portrait_Marth.png",name:"Marth",hp:42,atk:28,spd:35,def:29,res:26,weapon:"32px-Icon_Class_Red_Sword.png"},
			{hero:"40px-Icon_Portrait_Ryoma.png",name:"Ryoma",hp:41,atk:34,spd:35,def:23,res:24,weapon:"32px-Icon_Class_Red_Sword.png"},
			{hero:"40px-Icon_Portrait_Lyn.png",name:"Lyn",hp:37,atk:28,spd:40,def:26,res:26,weapon:"32px-Icon_Class_Red_Sword.png"},
			{hero:"Black-Knight_0.png",name:"Black Knight",hp:48,atk:34,spd:34,def:35,res:18,weapon:"32px-Icon_Class_Red_Sword.png"},
			{hero:"40px-Icon_Portrait_Athena.png",name:"Athena",hp:40,atk:28,spd:38,def:27,res:24,weapon:"32px-Icon_Class_Red_Sword.png"},
			{hero:"40px-Icon_Portrait_Olivia.png",name:"Olivia",hp:34,atk:28,spd:34,def:27,res:29,weapon:"32px-Icon_Class_Red_Sword.png"},
			{hero:"40px-Icon_Portrait_Mia.png",name:"Mia",hp:38,atk:32,spd:40,def:28,res:25,weapon:"32px-Icon_Class_Red_Sword.png"},
			{hero:"40px-Icon_Portrait_Black_Knight.png",name:"Black Knight",hp:48,atk:34,spd:34,def:35,res:18,weapon:"32px-Icon_Class_Red_Sword.png"},
			{hero:"40px-Icon_Portrait_Arden.png",name:"Arden",hp:60,atk:36,spd:11,def:41,res:16,weapon:"32px-Icon_Class_Red_Sword.png"},
			{hero:"40px-Icon_Portrait_Joshua.png",name:"Mia",hp:40,atk:31,spd:35,def:30,res:28,weapon:"32px-Icon_Class_Red_Sword.png"},
			{hero:"40px-Icon_Portrait_Lucina_(Brave_Heroes).png",name:"Lucina(L)",hp:47,atk:34,spd:33,def:27,res:19,weapon:"32px-Icon_Class_Blue_Lance.png"},
			{hero:"40px-Icon_Portrait_Effie.png",name:"Effie",hp:50,atk:43,spd:19,def:33,res:23,weapon:"32px-Icon_Class_Blue_Lance.png"},
			{hero:"40px-Icon_Portrait_Azura.png",name:"Azura",hp:36,atk:31,spd:30,def:21,res:31,weapon:"32px-Icon_Class_Blue_Lance.png"},
			{hero:"40px-Icon_Portrait_Xander_(Spring_Festival).png",name:"Xander",hp:43,atk:25,spd:24,def:35,res:26,weapon:"32px-Icon_Class_Blue_Lance.png"},
			{hero:"40px-Icon_Portrait_Cordelia.png",name:"Cordelia",hp:43,atk:35,spd:35,def:22,res:22,weapon:"32px-Icon_Class_Blue_Lance.png"},
			{hero:"40px-Icon_Portrait_Hinoka.png",name:"Hinoka",hp:41,atk:35,spd:35,def:25,res:21,weapon:"32px-Icon_Class_Blue_Lance.png"},
			{hero:"40px-Icon_Portrait_Clive.png",name:"Clive",hp:45,atk:33,spd:25,def:32,res:19,weapon:"32px-Icon_Class_Blue_Lance.png"},
			{hero:"40px-Icon_Portrait_Tiki_(Adult).png",name:"Tiki",hp:40,atk:35,spd:23,def:35,res:24,weapon:"32px-Icon_Class_Red_Beast.png"},
			{hero:"40px-Icon_Portrait_Fae.png",name:"Fae",hp:46,atk:30,spd:28,def:29,res:30,weapon:"32px-Icon_Class_Green_Beast.png"},
			{hero:"40px-Icon_Portrait_Corrin_(F).png",name:"Corrin(D)",hp:41,atk:27,spd:34,def:34,res:21,weapon:"32px-Icon_Class_Blue_Beast.png"},
			{hero:"40px-Icon_Portrait_Hector.png",name:"Hector",hp:52,atk:36,spd:28,def:34,res:19,weapon:"32px-Icon_Class_Green_Axe.png"},
			{hero:"40px-Icon_Portrait_Titania.png",name:"Titania",hp:34,atk:28,spd:34,def:29,res:30,weapon:"32px-Icon_Class_Green_Axe.png"},
			{hero:"40px-Icon_Portrait_Jeorge.png",name:"Jeorge",hp:37,atk:35,spd:29,def:24,res:22,weapon:"32px-Icon_Class_Neutral_Bow.png"},
			{hero:"40px-Icon_Portrait_Lyn_(Brave_Heroes).png",name:"Lyn",hp:35,atk:33,spd:35,def:18,res:28,weapon:"32px-Icon_Class_Neutral_Bow.png"},
			{hero:"40px-Icon_Portrait_Kagero.png",name:"Kagero",hp:31,atk:35,spd:32,def:25,res:24,weapon:"32px-Icon_Class_Neutral_Shuriken.png"},
			{hero:"40px-Icon_Portrait_Celica.png",name:"Celica",hp:42,atk:29,spd:33,def:22,res:22,weapon:"32px-Icon_Class_Red_Tome.png"},
			{hero:"40px-Icon_Portrait_Katarina.png",name:"Katarina",hp:34,atk:32,spd:34,def:15,res:32,weapon:"32px-Icon_Class_Red_Tome.png"},
			{hero:"40px-Icon_Portrait_Tharja.png",name:"Tharja",hp:35,atk:32,spd:34,def:23,res:23,weapon:"32px-Icon_Class_Red_Tome.png"},
			{hero:"40px-Icon_Portrait_Lilina.png",name:"Lilina",hp:39,atk:34,spd:25,def:19,res:31,weapon:"32px-Icon_Class_Red_Tome.png"},
			{hero:"40px-Icon_Portrait_Linde.png",name:"Linde",hp:32,atk:35,spd:36,def:18,res:27,weapon:"32px-Icon_Class_Blue_Tome.png"},
			{hero:"40px-Icon_Portrait_Lucina_(Spring_Festival).png",name:"Lucina(T)",hp:35,atk:29,spd:39,def:22,res:22,weapon:"32px-Icon_Class_Blue_Tome.png"},
			{hero:"40px-Icon_Portrait_Corrin_(F)_(Nohrian_Summer).png",name:"Corrin(T)",hp:37,atk:28,spd:34,def:22,res:26,weapon:"32px-Icon_Class_Blue_Tome.png"},
			{hero:"40px-Icon_Portrait_Camilla_(Spring_Festival).png",name:"Camilla",hp:42,atk:32,spd:25,def:30,res:19,weapon:"32px-Icon_Class_Green_Tome.png"},
			{hero:"40px-Icon_Portrait_Lucius.png",name:"Lucius",hp:41,atk:32,spd:30,def:10,res:35,weapon:"32px-Icon_Class_Neutral_Staff.png"},
			{hero:"40px-Icon_Portrait_Priscilla.png",name:"Pricilla",hp:36,atk:29,spd:25,def:22,res:32,weapon:"32px-Icon_Class_Neutral_Staff.png"}
		]
		$scope.rating = function(i){
			let hp = i.hp;
			let atk = i.atk;
			let spd = i.spd;	
			let def = i.def;
			let res = i.res;
			return hp + atk + spd + def + res;
		}
		$scope.getColor = function(v,type){
			let cres=36,cdef=39,cspd=39,catk=40,chp=55,crat=175,color,aux,auxRed,auxBlack;

			if(type == "hp"){
				auxBlack=45;
				auxRed  =35;
				if(v>auxBlack){
					aux=Math.round((v-auxBlack)*255/(chp-auxBlack));
					color = "rgb("+aux+",0,0)";
				}else{
					aux = Math.round(v*255/auxBlack);
					aux =255-aux;
					color = "rgb("+aux+","+aux+","+aux+")";
				}	
			}else if(type == "atk"){
				auxBlack=34;
				auxRed  =30;
				if(v>auxBlack){
					aux=Math.round((v-auxBlack)*255/(catk-auxBlack));
					// console.log(aux);
					color = "rgb("+aux+",0,0)";
				}else{
					aux = Math.round(v*255/auxBlack);
					aux =255-aux;
					color = "rgb("+aux+","+aux+","+aux+")";
				}	
			}else if(type == "spd"){
				auxBlack=35;
				auxRed  =30;
				if(v>auxBlack){
					aux=Math.round((v-auxBlack)*255/(cspd-auxBlack));
					color = "rgb("+aux+",0,0)";
				}else{
					aux = Math.round(v*255/auxBlack);
					aux =255-aux;
					color = "rgb("+aux+","+aux+","+aux+")";
				}	
			}else if(type == "def"){
				auxBlack=30;
				auxRed  =25;
				if(v>auxBlack){
					aux=Math.round((v-auxBlack)*255/(cdef-auxBlack));
					color = "rgb("+aux+",0,0)";
				}else{
					aux = Math.round(v*255/auxBlack);
					aux =255-aux;
					color = "rgb("+aux+","+aux+","+aux+")";
				}		
			}else if(type == "res"){
				auxBlack=30;
				auxRed  =25;
				if(v>auxBlack){
					aux=Math.round((v-auxBlack)*255/(cres-auxBlack));
					color = "rgb("+aux+",0,0)";
				}else{
					aux = Math.round(v*255/auxBlack);
					aux =255-aux;
					color = "rgb("+aux+","+aux+","+aux+")";
				}		
			}else if(type == "rat"){
				auxBlack=160;
				auxRed  =155;
				if(v>auxBlack){
					aux=Math.round((crat-auxBlack)*255/(v-auxBlack));
					color = "rgb("+aux+",0,0)";
				}else{
					aux = Math.round(v*255/auxBlack);
					aux =255-aux;
					color = "rgb("+aux+","+aux+","+aux+")";	
				}		
			} 
			// red = rgb(255,g,b);
			// gree = rgb(r,255,b);
			// blue = rgb(r,g,255);
			// rgb(0,0,0);
			// rgb(128,128,128);
			// rgb(255,255,255);
			return color;
		}
	});

</script>	
</body>
</html>